<div class="container-fluid">
    <div class="marginTop contenedor col-xxl-6 col-sm-8">
        <h1>User Error Login</h1>
        <a href="/login"><button id="btnFail" class="btn btn-dark" type="button">Volver a Login</button></a>
    </div>
</div>