<div class="container-fluid">
    <div class="marginTop contenedor col-xxl-6 col-sm-8">
        <h1>User Error Register</h1>
        <a href="/registro"><button id="btnFail" class="btn btn-dark" type="button">Volver a Register</button></a>
    </div>
</div>