<div class="container-fluid">
    <div class="marginTop contenedor col-xxl-6 col-sm-8">
        <h1>Log in</h1>
        <label for="login">Ingrese su Nombre:</label>
        <input class="input60" id="login" type="text" placeholder="Nombre" required>
        <a href="/"><button id="btnLogin" class="btn btn-dark" >Enviar</button></a>
    </div>
</div>