<div class="container-fluid">
    <div class="marginTop contenedor col-xxl-6 col-sm-8">
        <h1>Login</h1>
        <form class="needs-validation" method="post">
            <div>
                <label for="login">Ingrese los datos:</label>
            </div>
            <input class="input60" name="username" id="username" type="text" placeholder="Username" required>
            <input class="input60" name="password" id="password" type="text" placeholder="Password" required>
            <div>
                <a href="/datos"><button id="btnRegLogin" class="btn btn-dark" type="submit">Login</button></a>
            </div>
        </form>
        <div class="marginTop">
            <h6>¿No posees una cuenta? Registrate presionando el siguiente botón:</h3>
                <a href="/registro"><button id="btnIrARegistro" class="btn btn-dark">Registrarme</button></a>
        </div>
    </div>
</div>